@import 'mixin';
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
html {
  color: #2d2d2d;
  font-size: 100%;
  overflow-y: auto;
  @include prefixer(text-size-adjust, 100%, webkit moz o ms);
  height:100%;
}
body {
  height:100%;
  margin: 0;
  font-family: consolas, monaco, monospace;
  font-size: 1em;
  line-height: 1.625em;
}
a:focus {
  text-decoration: none;
}
ul,
ol {
  margin: 0;
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: UbuntuMono-B, consolas, monaco, monospace;
}
h1,
.h1 {
  font-size: 30px;
  line-height: 52px;
  margin-top: 52px;
  margin-bottom: 26px;
}
h2,
.h2 {
  font-size: 30px;
  line-height: 52px;
  margin-top: 52px;
  margin-bottom: 26px;
}
h3,
.h3 {
  font-size: 25.888px;
  line-height: 26px;
  margin-top: 26px;
  margin-bottom: 26px;
}
h4,
.h4 {
  font-size: 18.541px;
  line-height: 26px;
  margin-top: 26px;
  margin-bottom: 26px;
}
p,
ul,
ol,
dl,
img {
  margin-top: 0;
  margin-bottom: 1.625em;
}
small,
.small,
aside {
  font-size: 0.75em;
}
@font-face {
  font-family: 'UbuntuMono-B';
  src: url('../themes/font/UbuntuMono-B-webfont.woff') format('woff');
  font-weight: normal !important;
  font-style: normal;
}
#page {
  background-repeat: repeat;
  background-position: 0 0;
  background-color: #e2e2de;
}
.body .unit-body {
  background-color: #fafafa;
  padding: 26px;
}
#show {
  padding: 0;
  margin: 0;
}
a {
  cursor: pointer;
  color: #2d2d2d;
  text-decoration: none;
}
a:visited {
  color: #141414;
  text-decoration: none;
}
a:hover {
  color: #474747;
  text-decoration: none;
}
pre {
  border: 1px solid #393939;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.625em;
  padding: 1.625em;
  @include prefixer(box-shadow, inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.6));
}
/* HEADER
--------------------------------------------------------------------------------- */
.the-header .logo {
  font-family: UbuntuMono-B, consolas, monaco, monospace;
  margin: 0;
}
.the-header .logo a:visited {
  color: #2d2d2d;
}
.the-header .nav-global {
  text-transform: uppercase;
}
.the-header .nav-global .logo {
  text-transform: none;
}
.the-header svg {
  display: none;
}
.the-header .unit-head .nav-global li a {
  transition: background-color .2s ease-in-out;
}
.the-header .nav-global .forkme {
  position: relative;
  top: 2px;
}
/* MAIN
--------------------------------------------------------------------------------- */
.unit-article header {
  border-bottom: 5px solid rgba(21, 25, 25, 0.8);
  margin-bottom: 21px;
}
.unit-article header h1 {
  color: #2d2d2d;
  margin-top: 0;
  margin-bottom: 0;
}
.unit-article .entry-content h2,
.unit-article .entry-content h3,
.unit-article .entry-content h4,
.unit-article .entry-content h5,
.unit-article .entry-content h6 {
  color: #2d2d2d;
}
.unit-article .entry-content h2 a:link,
.unit-article .entry-content h3 a:link,
.unit-article .entry-content h4 a:link,
.unit-article .entry-content h5 a:link,
.unit-article .entry-content h6 a:link {
  color: #2d2d2d;
  border: 0;
}
.unit-article .entry-content h2 a:visited,
.unit-article .entry-content h3 a:visited,
.unit-article .entry-content h4 a:visited,
.unit-article .entry-content h5 a:visited,
.unit-article .entry-content h6 a:visited {
  color: #141414;
  border: 0;
}
.unit-article .entry-content h2 a:hover,
.unit-article .entry-content h3 a:hover,
.unit-article .entry-content h4 a:hover,
.unit-article .entry-content h5 a:hover,
.unit-article .entry-content h6 a:hover {
  color: #474747;
  border: 0;
}
.unit-article .entry-content:first-child h2,
.unit-article .entry-content:first-child h3,
.unit-article .entry-content:first-child h4,
.unit-article .entry-content:first-child h5,
.unit-article .entry-content:first-child h6 {
  margin-top: 0;
}
.unit-article a:link {
  border-bottom: 1px dashed #c26164;
}
.unit-article a:visited {
  border-bottom: 1px dashed #ad4346;
}
.unit-article a:hover {
  border-bottom: 1px dashed #d08688;
}
.unit-article blockquote {
  border-left: 1em solid rgba(21, 25, 25, 0.8);
  padding-left: 1em;
}
.unit-article blockquote p {
  margin-left: 0;
  margin-right: 0;
}
.unit-article ul,
.unit-article ol,
.unit-article dl {
  padding-left: 0;
}
.unit-article ul {
  list-style: square;
  padding-left: 1em;
}
.unit-article ol {
  list-style: decimal;
}
.unit-article li h1,
.unit-article dt h1,
.unit-article dd h1,
.unit-article li h2,
.unit-article dt h2,
.unit-article dd h2,
.unit-article li h3,
.unit-article dt h3,
.unit-article dd h3,
.unit-article li h4,
.unit-article dt h4,
.unit-article dd h4,
.unit-article li h5,
.unit-article dt h5,
.unit-article dd h5,
.unit-article li p,
.unit-article dt p,
.unit-article dd p,
.unit-article li ul,
.unit-article dt ul,
.unit-article dd ul,
.unit-article li ol,
.unit-article dt ol,
.unit-article dd ol,
.unit-article li dl,
.unit-article dt dl,
.unit-article dd dl,
.unit-article li blockquote,
.unit-article dt blockquote,
.unit-article dd blockquote,
.unit-article li .hasGrid,
.unit-article dt .hasGrid,
.unit-article dd .hasGrid {
  margin-left: 0;
  margin-right: 0;
}
.unit-article p code,
.unit-article li code {
  padding: 2px 5px;
  white-space: nowrap;
  background-color: #fff04a;
}
.unit-article img {
  display: block;
}
.unit-article img.left {
  margin-right: 16px;
}
.unit-article img.right {
  margin-left: 16px;
}
.unit-article .date-publish {
  margin-bottom: 0;
}
.unit-article .list-linear .list-head {
  margin-right: 4px;
}
.unit-article .list-category a,
.unit-article .list-tag a {
  border: 0 none;
}
.unit-article .list-category a:hover span,
.unit-article .list-tag a:hover span {
  background-color: #f99157;
}
.unit-article .list-category span,
.unit-article .list-tag span {
  background-color: #e25608;
  padding: 1px 5px;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  margin: 0 6px 0 0;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  top: -2px;
  font-weight: bold;
  font-size: 13px;
}
.unit-article .list-category {
  margin-bottom: 0;
  text-transform: capitalize;
}
.unit-article .list-tag {
  text-transform: capitalize;
}
.unit-article .comment a {
  border-bottom: 0;
}
.unit-article .unit-foot {
  border-top: 5px solid rgba(21, 25, 25, 0.8);
  padding-top: 1.625em;
  position: relative;
}
.unit-article .unit-foot nav ul {
  list-style: none;
}
.unit-article .unit-foot nav ul li {
  display: inline;
}
.unit-article .unit-foot .gotop {
  margin-bottom: 0;
}
/* post & page */
.layout-page .tag_box {
  background: url('/src/assets/themes/skin/100-90-5-monochrome.png') repeat 0 0 #999999;
  padding: 0.8125em;
  list-style: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  @include prefixer(background-clip, padding-box);
  @include prefixer(box-shadow, (inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.4)));
}
/* FOOTER
----------------------------------------------- */
.the-footer a:link {
  color: #c26164;
  border: 0;
}
.the-footer a:visited {
  color: #ad4346;
  border: 0;
}
.the-footer a:hover {
  color: #d08688;
  border: 0;
}
.the-footer ul {
  list-style: square;
  padding-left: 1em;
}
.the-footer address {
  font-style: normal;
}
.the-footer .license {
  clear: both;
}
.the-footer .license p {
  margin-bottom: 0;
}
.the-header .unit-head {
  padding: 26px;
}
.the-header .unit-head .nav-global .logo {
  display: block;
  width: auto;
}
.the-header .unit-head .nav-global .logo a {
  display: block;
  font-size: 30px;
  line-height: 52px;
  padding-bottom: 26px;
}
.the-footer {
  background-color: rgba(21, 25, 25, 0.8);
  color: #fafafa;
  color: rgba(250, 250, 250, 0.8);
  padding: 26px;
}
.the-footer a:link {
  color: #c26164;
  border: 0;
}
.the-footer a:visited {
  color: #ad4346;
  border: 0;
}
.the-footer a:hover {
  color: #d08688;
  border: 0;
}
.the-footer h4 {
  margin-top: 0;
}
/*
	Smartphone
*/
@media only screen and (max-width: 400px) {
  .the-header .unit-head {
    padding-left: 16px !important;
  }
  .the-header svg {
    right: 16px !important;
    display: block;
  }
  .body .unit-body {
    padding: 16px;
  }
}
@media only screen and (max-width: 850px) {
  img {
    max-width: 100%;
  }
  .the-header svg {
    display: block;
  }
  .the-header .unit-head {
    overflow: hidden;
    height: 52px;
    padding-left: 26px;
    @include prefixer(transition, height .4s ease-in-out);
  }
  .the-header .unit-head .nav-global .logo {
    display: flex;
    justify-content: space-between;
  }
  .the-header .unit-head .nav-global .logo a{
    padding-bottom: 30px;
  }
  .the-header .unit-head .nav-global .logo svg {
    display: block;
    margin: 16px 0;
    cursor: pointer;
  }
  .body .unit-body {
    border-top: 1px solid rgba(255, 255, 255, 0.6);
  }
  .body .unit-editor {
    padding: 0;
  }
}
/*
	Tablet
*/
@media only screen and (min-width: 850px) {
  .the-header .unit-head {
    padding: 0;
  }
  .the-header .unit-head .nav-global li {
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-width: 0 1px 0 0;
  }
  .the-header .unit-head .nav-global li a,
  .the-header .unit-head .nav-global li div {
    display: block;
    padding: 26px;
    height: 26px;
  }
  .the-header .unit-head .nav-global li a:hover {
    background-color: rgba(31, 31, 3, 0.1);
    color: #474747;
  }
  .the-header .unit-head .nav-global li:nth-child(2) {
    border-width: 0 1px;
  }
  .the-header .unit-head .nav-global li:last-child {
    border-width: 0;
  }
  .the-header .unit-head .nav-global .logo {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-right: none 0;
    display: block;
    width: 100%;
  }
  .the-header .unit-head .nav-global .logo a {
    font-size: 30px;
    line-height: normal;
  }
  .the-header .unit-head .nav-global .logo a:hover {
    background-color: transparent;
  }
  .body {
    background-color: #fafafa;
    display: flex;
  }
  .body .unit-body {
    padding: 26px 52px;
    max-width: 760px;
    margin: 0 auto;
    width: 100%;
  }
  .body .unit-editor, #show {
    max-width: 100%;
  }
}
/*
	Huge-screen layout 
*/
@media only screen and (max-width: 1410px) {
  #page {
    height: auto !important;
  }
}
@media only screen and (min-width: 1410px) {
  .the-header {
    float: left;
    width: 19%;
  }

  .the-header .unit-head {
    padding: 26px;
  }

  .the-header .unit-head .nav-global li {
    float: none;
    border: none;
  }

  .the-header .unit-head .nav-global li a,
  .the-header .unit-head .nav-global li div {
    display: block;
    padding: 2px 5px;
    height: auto;
  }

  .the-header .unit-head .nav-global li:nth-child(2) {
    border-width: 0;
  }

  .the-header .unit-head .nav-global .logo {
    border-bottom: none 0;
    display: list-item;
    width: auto;
  }

  .the-header .unit-head .nav-global .logo a {
    display: block;
    font-size: 30px;
    line-height: 52px;
    margin-bottom: 26px;
    padding-left: 5px;
    position: relative;
    top: auto;
  }

  .body {
    float: left;
    width: 81%;
    background-color: transparent;
    margin-right: -450px;
    min-height: 100vh;
  }

  .body .unit-body {
    max-width: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    @include prefixer(box-shadow, #ffffff 0px 0px 2px);
    margin-right: 450px;
    padding: 32px 64px;
  }
  .body .unit-editor {
    margin-right: 0;
  }
  #the-editor-footer {
    display: none;
  }
  .the-footer {
    background-color: transparent;
    color: #2d2d2d;
    position: relative;
    top: auto;
    display: block;
    float: left;
    padding: 25px 0 0 25px;
    width: 400px;
  }
  .the-footer h4 {
    font-size: 30px;
    line-height: 52px;
    margin-top: 0;
    margin-bottom: 26px;
  }
}
@media only screen and (min-width: 1600px) {
  .body .unit-body {
    padding: 32px 6%;
  }
}
.unit-inner:before,
.unit-inner:after,
.tag_box:before,
.tag_box:after,
#page:before,
#page:after {
  content: "";
  display: table;
}
.unit-inner:after,
.tag_box:after,
#page:after {
  clear: both;
}